---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import ModelTable from "./ModelTable.tsx";
import Footer from "@/components/Footer.astro";
import Counter from "./Counter.jsx";
import InfoAccordion from "@/components/InfoAccordion.astro";

---

<BaseLayout
  title="Free Token Counter | Calculate AI Tokens Instantly"
  description="Use our free token counter to calculate tokens for GPT, Claude, Llama & more. Instant results, no signup, with clear pricing for AI models."
>
  <div class="min-h-screen">
    <Header />
    <div class="mb-8 text-center pt-8">
      <h1 class="text-3xl font-bold text-stone-800 mb-2">
        Free Image Token Calculator
      </h1>
      <p class="text-stone-600">
        Instantly Calculate Tokens for Image – No Signup Needed
      </p>
    </div>
    <div class="container mx-auto px-4">
      <div class="mb-4">
        <Counter client:load />
      </div>
      <section class="mb-12">
        <!-- <h2 class="text-2xl font-bold text-stone-800 mb-4">Model Price</h2> -->
        <ModelTable client:load />
      </section>

      <section class="mb-12">
        <h2 class="text-2xl font-bold text-stone-800 mb-4">
          Image Token Counter Update Log
        </h2>
        <InfoAccordion expandable={false}>
          <ul class="list-disc pl-5 space-y-1 my-1">
            <li>
              <time class="text-sm text-muted-foreground" datetime="2025-05-17"
                >2025-05-17</time
              >
              <p>Initial release.</p>
            </li>
          </ul>
        </InfoAccordion>
      </section>
    </div>

    

    <Footer />
  </div>
</BaseLayout>
